@import "../utilities";

.sideNavBar {
    background-color: $primary-blue;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 3;
    transition: ease-in-out 600ms left;
    @include desktop-screen {
        width: 20%;
    }
    @include tablet-screen {
        position: absolute;
        left: -100%;
    }

    @include mobile-screen {
        position: absolute;
        left: -100%;
    }

    .largerSection {
        flex: 1;
        overflow-y: scroll;
        padding-top: 5rem;

        .top-stories,
        .recent-stories {
            padding: 1rem 0 0.5rem;
            background: rgba(19, 20, 20, 0.698);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 95%;
            margin: 0 auto;
            border-radius: 0.3rem;
            .header {
                font-size: 0.9rem;
                font-weight: bold;
                color: #d7d4d4;
                padding-left: 0.4rem;
                &::after {
                    content: "";
                    display: block;
                    width: 10%;
                    height: 1px;
                    background-color: #ffffff;
                }
            }
            ul {
                margin-bottom: 1rem !important;
                .topStories-wrapper,
                .recentStories-wrapper {
                    width: 95%;
                    margin: 0 auto;
                    a {
                        padding: 0 !important;
                        .topStories-link,
                        .recentStories-link {
                            color: darken($color: #fff, $amount: 30);
                            font-size: 0.9rem;
                            font-weight: normal;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 90%;
                        }
                        &::after {
                            content: "";
                            display: block;
                            height: 1px;
                            width: 0%;
                            background-color: #fafafa;
                            transition: ease-in-out 600ms width;
                        }

                        &:hover {
                            &::after {
                                width: 30%;
                            }
                        }
                    }
                    .topStories-author,
                    .recentStories-author {
                        font-size: 0.85rem;
                        color: $second-yellow;
                    }
                }
            }
        }
        .explore-text {
            padding: 1rem 0.5rem;
            h4 {
                font-size: 1.3rem;
                color: #fff;
            }
        }
    }
    .smallerSection {
        height: 200px;
        padding: 0.5rem;
        .header {
            font-weight: bold;
            text-transform: capitalize;
        }
        ul {
            width: 100%;
            margin-top: 1rem;
            li {
                color: lighten($color: #000000, $amount: 10);
                font-size: 0.9rem;
                padding-left: 0.7rem;
                &::marker {
                    content: "♲";
                    color: #fff;
                }
            }
        }
        .brand {
            font-size: 0.85rem;
            float: right;
        }
    }
}

.divider {
    height: 1px;
    background-color: #0000006b;
    width: 100%;
}
