@import "../utilities";

.homePage_Wrapper {
    padding-top: 3.5rem;
    width: 100vw;
    padding-bottom: 1rem;

    @include mobile-screen {
        height: fit-content;
    }

    @include tablet_screen {
        height: fit-content;
    }

    @include desktop_screen {
        height: 80vh;
    }

    .glassy_div {
        background: linear-gradient(
            to right,
            $glassy_div_color-blue,
            $glassy_div_color-yellow
        );
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile-screen {
            height: 95%;
            flex-direction: column;
            text-align: center;
        }
        @include tablet_screen {
            flex-direction: column;
            padding-top: 2rem;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 100%;
            flex: 1;

            @include desktop_screen {
                width: 60%;
            }
            h1 {
                @include mobile-screen {
                    font-size: 2rem;
                }
                @include tablet_screen {
                    font-size: 2.5rem;
                }
                @include desktop_screen {
                    font-size: 3rem;
                }
            }
            .links {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-around;
                @include desktop_screen {
                    justify-content: flex-start;
                    column-gap: 2rem;
                }
                @include mobile-screen {
                    column-gap: 2rem;
                }

                button {
                    transition: ease-in-out 600ms all;
                    border-radius: 0.5rem;

                    @include mobile-screen {
                        font-size: 0.8rem;
                    }
                    @include desktop_screen {
                        display: flex;
                        align-self: center;
                        justify-self: center;
                    }

                    &:hover {
                        background-color: $second-yellow;
                        color: $primary-white;
                        border: 1px solid #fff;
                    }
                }
                .learn_btn {
                    background-color: $second-yellow;
                }
            }
        }

        .image_div {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 130%;
                height: 130%;
                object-fit: cover;
                animation: heroImage 4s infinite;
            }
        }
    }
}

@keyframes heroImage {
    0% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(-20px);
    }
}
