@import "../utilities";

.testimonial_container {
    padding-top: 3.5rem;
    width: 100vw;
    min-height: 50vh;
    @include mobile_screen {
        padding: 1.5rem 0;
    }

    @include tablet_screen {
        padding-bottom: 2rem;
    }

    @include desktop_screen {
        padding-bottom: 2.5rem;
    }

    .glassy_div {
        padding: 2rem 1rem;
        text-align: center;
        background-color: #eaecb5ce;

        @include mobile_screen {
            padding: 1rem;
        }

        .header {
            margin-bottom: 2rem;
            @include mobile_screen {
                margin-bottom: 1rem;
            }
        }

        .testimonial-div {
            height: 170px;
            padding-top: 1rem;

            @include mobile_screen {
                height: 350px;
            }
            @include tablet_screen {
                height: 230px;
            }
            .text {
                display: flex;
                flex-direction: column;
                width: 70%;
                margin: 0 auto;
                font-family: "Times New Roman", Times, serif;

                @include mobile_screen {
                    width: 80%;
                }
                .by {
                    margin-top: 1rem;
                    color: $primary-blue;
                }
            }
        }
    }
}
